.foot{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 120px;

    .lien-reseau{
        width: 33%;
        height: 119px;
        text-align: center;
        
        
        .img-logo{
            width: 55px;
            height: 55px; 
            padding-top: 30px;  
        } 
    }
    .lien-contact{
        text-decoration: none;
        text-align: center;
        color: white;
        font-size: 18px;
        border-right: 2px solid white;
        border-left: 2px solid white;
        width: 33.3%;
    }
    p{
        font-size: 12px;
        font-family: serif;
        text-align: center;
        color: white;
        width: 33%;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px){


        .foot{
            justify-content: space-between;
        }

        p{
            padding-right: 50px !important;
        }


}
@media screen and (min-width: 1025px){

    .foot{
        display: flex;
        flex-direction: row;
        justify-content: space-around !important;
        height: 180px;
    }
        .img-logo{
            width: 85px !important;
            height: 85px !important; 
            padding-top: 30px;  
        } 
        .lien-contact{
            font-size: 30px !important;
            font-weight: bold;
            &:hover{
                color:rgb(96, 96, 96);
            }
        }
    
}