$font-paraf: 'Prompt', sans-serif;



.menu{
    background: #484848;
    padding: 5%; 
       li{
           display: inline;
           padding-left: 14px;
           padding-right: 14px;
           list-style-type: none;
           font-family: $font-paraf;
           font-size: 16px;
           border-right: 1px solid white;

       }
       a{
           color: rgb(162, 162, 162);
           text-decoration: none;

       }
}
@media screen and (min-width: 600px) and (max-width: 1024px){

        li{
            font-size: 20px !important;
            font-weight: bold;
            padding-left: 20px;
        }
            a{
                color: rgb(201, 201, 201)!important;
            }
}

@media screen and (min-width: 1025px){

    .menu{
        padding: 20px;
        li{
            font-size: 22px;
        }
        a:hover{
            color: red;
        }
    }

}