/* font family */
/* color font */
header {
  background: #000;
  height: 250px;
  width: 100%;
}

header h1 {
  color: white;
  font-family: "Comfortaa", cursive;
  text-shadow: 1px 2px #808080;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 100px;
  font-size: 57px;
  font-weight: bold;
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 30px !important;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  h1 {
    font-size: 70px !important;
  }
}

.menu {
  background: #484848;
  padding: 5%;
}

.menu li {
  display: inline;
  padding-left: 14px;
  padding-right: 14px;
  list-style-type: none;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  border-right: 1px solid white;
}

.menu a {
  color: #a2a2a2;
  text-decoration: none;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  li {
    font-size: 20px !important;
    font-weight: bold;
    padding-left: 20px;
  }
  a {
    color: #c9c9c9 !important;
  }
}

@media screen and (min-width: 1025px) {
  .menu {
    padding: 20px;
  }
  .menu li {
    font-size: 22px;
  }
  .menu a:hover {
    color: red;
  }
}

/* font family */
body {
  height: auto;
  width: 100%;
}

.mes_competences {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

.mes_competences .competences {
  text-align: center;
}

.mes_competences .pieces {
  padding: 15px;
}

.mes_competences .comp {
  text-align: center;
  float: center;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.mes_competences .text_outil {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-size: 12px;
}

.About {
  width: 100%;
  height: 255px;
  margin: 20px 0;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.About .bonjour {
  text-align: center;
  padding: 20px;
  font-family: "Comfortaa", cursive;
}

.About .vincecrea {
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 255px;
}

.About .p1 {
  padding: 0px 16px 10px 16px;
  font-family: "Prompt", sans-serif;
  font-size: 15px;
  text-align: center;
}

.creation {
  font-size: 32px;
  font-family: "Comfortaa", cursive;
  text-align: center;
  padding-bottom: 30px;
}

.sous-titre {
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button .lien {
  list-style-type: none;
  text-align: center;
  width: 100%;
}

.button .screen {
  width: 80%;
  height: 70%;
  margin: 10px;
  padding: 15px;
  border: 5px solid black;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 3px grey;
          box-shadow: 3px 5px 3px grey;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .comp {
    font-size: 22px !important;
    font-weight: bold;
  }
  .text_outil {
    font-size: 18px !important;
    letter-spacing: 4px;
  }
  .About {
    height: 355px;
  }
  .About .vincecrea {
    height: 355px;
  }
  .About .bonjour {
    font-size: 26px;
    padding-bottom: 40px;
  }
  .About .p1 {
    font-size: 20px;
    text-align: center;
  }
  .creation {
    font-size: 32px;
    font-family: "Comfortaa", cursive;
    text-align: center;
    padding-bottom: 20px;
  }
  .sous-titre {
    font-size: 15px;
    font-family: "Comfortaa", cursive;
    font-weight: bold;
  }
  .lien {
    width: 100%;
    height: 480px;
    padding-bottom: 20px;
  }
  .lien .screen {
    width: 80%;
    height: 400px;
  }
}

@media screen and (min-width: 1025px) {
  .mes_competences {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .About {
    height: 555px;
  }
  .About .vincecrea {
    height: 555px;
  }
  .About .bonjour {
    font-size: 36px;
    padding-bottom: 50px;
    padding-top: 30px;
  }
  .About .p1 {
    font-size: 20px;
    text-align: left;
    width: 50%;
    padding-left: 40px;
    padding-top: 50px;
  }
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  width: 100%;
  height: 120px;
}

.foot .lien-reseau {
  width: 33%;
  height: 119px;
  text-align: center;
}

.foot .lien-reseau .img-logo {
  width: 55px;
  height: 55px;
  padding-top: 30px;
}

.foot .lien-contact {
  text-decoration: none;
  text-align: center;
  color: white;
  font-size: 18px;
  border-right: 2px solid white;
  border-left: 2px solid white;
  width: 33.3%;
}

.foot p {
  font-size: 12px;
  font-family: serif;
  text-align: center;
  color: white;
  width: 33%;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  .foot {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  p {
    padding-right: 50px !important;
  }
}

@media screen and (min-width: 1025px) {
  .foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute !important;
        justify-content: space-around !important;
    height: 180px;
  }
  .img-logo {
    width: 85px !important;
    height: 85px !important;
    padding-top: 30px;
  }
  .lien-contact {
    font-size: 30px !important;
    font-weight: bold;
  }
  .lien-contact:hover {
    color: #606060;
  }
}

* {
  margin: 0;
  padding: 0;
}

.video {
  margin-left: 50px;
}
/*# sourceMappingURL=style.css.map */